@font-face {
    font-family: HindLight;
    src: url(./assets/fonts/Hind-Light.ttf); 
}

@font-face {
    font-family: RobotoReg;
    src: url(./assets/fonts/Roboto-Medium.ttf) format('truetype');
}
@font-face {
    font-family: YanReg;
    src: url(./assets/fonts/Yantramanav_Regular.ttf);
}