@font-face {
    font-family: HindLight;
    src: url(./assets/fonts/Hind-Light.ttf); 
}

/*@font-face {
    font-family: malacate;
    src: url(./assets/fonts/malacate.ttf) format('truetype');
}*/