footer {
  position: absolute;
  background-color: $white;
  height: 137px;
  width: 100%;
  font-family: HindLight;
  bottom: 0;
  text-align: center;
  color: $grey-dark;

  .footer--wrapper-center {
    position: relative;
    height: 121px;
    width: 70%;
    left: 15%;
  }

  .footer--icon_list {
    .icon_list-wrapper {
      display: inline;
    }
  }

  .footer--copyright-wrapper {
    position: absolute;
    bottom: 16px;
    width: 100%;

    .footer--copyright {
      font-size: 12px;
      position: relative;
      margin: 0 auto;
    }

    .footer--logo {
      margin-bottom: 5px;
    }
  }

  .footer--decorator-line {
    position: relative;
    background-color: $primary-color;
    height: 10px;
    width: 100%;
    top: -10px
  }
  a.icon{
     color: $grey-dark;
     font-size: 22px;
     margin: 0 25px;
  }
}
