$primary-color : #f69a90;
$white : white;
$black : black;
$grey-dark : #656565;
$grey-light : #a4a2a2;



/*.primary-color {
    color: #f69a90 !important;
}
.white {
    color: white !important;
}
.black {
    color: black !important;
}
.grey-dark {
    color: #656565 !important;
}
.grey-light {
    color: #a4a2a2 !important;
}*/