.demo-card-wide {
    margin-bottom: 20px;
}
.demo-card-wide.mdl-card {
    /*width: 512px;*/
    width: 100%;
}
.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}
.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.detail__image--lg{
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.detail__invent--linked{
    height: 20px;
    color: #B9C800;
}
