<header class="parallux-container" data-parallux-pov="0" data-parallux-relative="false">
  <div class="header--wrapper-left" ng-class="$ctrl.open ? 'no-display' : ''">
    <a class="icon" href="www.instagram.es">
      i
    </a>
  </div>
  <div class="header--wrapper-center">
    <a id="logo" class="icon parallux-item" data-parallux-ratio="0.9" data-parallux-ratio-up="0.19" data-parallux-attr='{"opacity":{"from":0,"to":1}}'>
      i
    </a>
  </div>
  <div id="nav--icon-hamburguer" ng-click="$ctrl.toggleNav()" ng-class="$ctrl.open ? 'open' : ''">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>