<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <!-- <span ng-if="!$ctrl.user" class="mdl-layout-title">Mi primera aplicación AngularJS con componentes!</span> -->
      <div class="header__user-welcome--msg" ng-if="!$ctrl.user">
         <p>Mi primera aplicación AngularJS con componentes!</p>
      </div>
      <div class="header__user-welcome--msg" ng-if="$ctrl.user">
          <div class="header__user--thumbnail" style="background-image: url({{$ctrl.user.thumbnail}})"></div>
          <p>Bienvenido {{$ctrl.user.nick}}</p>
          <!-- <a class="white" ui-sref="list"><i class="material-icons header__user-icon--edit">face</i></a> -->
      </div>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link white" ng-if="$ctrl.user" ui-sref="cards.list">Listado</a>
        <a ng-if="!$ctrl.user" class="mdl-navigation__link white" ui-sref="login">Login</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link white"  ng-if="$ctrl.user">Bienvenido {{$ctrl.user.nick}}</a>
      <a class="mdl-navigation__link" ng-if="$ctrl.user" ui-sref="cards.list">Listado</a>
      <a ng-if="!$ctrl.user" class="mdl-navigation__link" ui-sref="login">Login</a>
    </nav>
  </div>

  <main class="mdl-layout__content main__viewer--centered">
    <div class="page-content">
        <div ui-view></div>
    </div>
  </main>

</div>

<footer class="mdl-mini-footer">
    © 2016 Bankia, S.A. Todos los derechos reservados.
</footer>
