html {
    height: 100%;
    box-sizing: border-box;
}
.myfoo {
  border: none;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    height: 100%;
    border: 20px solid orange;
}
bk-app {
    min-height: 100vh;
}
bk-app, bk-app>.main {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
bk-app>.main {
    padding: 15px 16px 0 15px;
    flex: 1;
}
.main__viewer--centered {
    width: 90%;
    left: 5%;
    overflow: initial;
}
header {
    background-color: #B9C800 !important;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    height: 50px !important;
    padding: 16px 15px 0 15px;
}
header .header__user-welcome--msg{
    position: relative;
    left: -18px;
}
header .header__user-welcome--msg p{
    font-size: 20px;
    margin: 0 10px 0 0;
    display: inline-block;
}
header .header__user-welcome--msg .header__user--thumbnail{
    display: inline-block;
    height: 50px;
    width: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:10;
    background: white;
    border-top: 10px solid #B9C800;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 12px;
    padding: 22px 10px 10px 4% !important;
    text-align: center;
}
bk-card-searchbox {
    display: block;
}
.selected {
    border: 2px solid #B9C800;
    opacity: 1;
}
.no-selected {
    opacity: 0.7;
}
a {
    color: #B9C800;
}
.login__wrapper {
    position: relative;
    min-height: 300px;
    min-width: 300px;
    width: 50%;
    left: 25%;
    margin-top: 100px;
}

.mdl-layout-alert{
    color: #ccc;
    font-size: 24px;
    margin-top: -10px;
}

/*HELPERS*/

.white {
    color: white !important;
}
.green {
    color: #B9C800 !important;
}
.grey {
    color: #444 !important;
}
