@font-face {
  font-family: Hind-Light;
  src: url(./assets/fonts/Hind-Light.ttf); }

/*.primary-color {
    color: #f69a90 !important;
}
.white {
    color: white !important;
}
.black {
    color: black !important;
}
.grey-dark {
    color: #656565 !important;
}
.grey-light {
    color: #a4a2a2 !important;
}*/
footer {
  position: absolute;
  background-color: white;
  height: 137px;
  width: 100%;
  font-family: Hind-Light;
  bottom: 0;
  text-align: center; }
  footer .footer--wrapper-center {
    position: relative;
    height: 127px;
    width: 70%;
    left: 15%;
    border: 1px solid green; }
  footer .footer--icon_list .icon_list-wrapper {
    display: inline; }
  footer .footer--copyright-wrapper {
    position: absolute;
    bottom: 6px;
    width: 100%; }
    footer .footer--copyright-wrapper .footer--copyright {
      font-size: 12px;
      position: relative;
      margin: 0 auto; }
    footer .footer--copyright-wrapper .footer--logo {
      margin-bottom: 5px; }
  footer .footer--decorator-line {
    background-color: #f69a90;
    height: 10px;
    width: 100%; }

html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red; }
