@import '../../node_modules/bootstrap-grid/dist/grid.min.css';
@import './styles/fonts.scss';
@import './styles/vars.scss';
@import './styles/footer.scss';
@import './styles/home.scss';
@import './modules/navigation/navigation.component.scss';
@import './modules/header/header.component.scss';
@import './modules/grid/grid.component.scss';


html {
  height: 100%;
}

body {
  position: relative; 
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

#main-view{
  height: 100%;
  width: 100%;
}


a{
  text-decoration: none;
  color: $black;
}

.icon{
  text-decoration: none;
  font-family: malacate;
}

.no-display{
  display: none !important;
}